/* @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;  /* for Google Chrome and Apple Safari */
  -moz-box-sizing: border-box;    /* for Mozilla Firefox */
  -ms-box-sizing: border-box;   /* for Microsoft's Internet Explorer */
  box-sizing: border-box;       /* box-sizing is a property allows us to change exactly how the box-model works  */
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', Helvetica, sans-serif;
  background: white;

  /*  position: relative; */
  min-height: 100vh;  /* vh (viewport height as unit of measure)) */
  margin: 0;
}

.bg-teal {
  background-color: #07beb8;
}

.text-teal {
  color: #07beb8;
}

.dm-sans-display-font {
  font-family: 'DM Serif Display', serif;
}

.poppins-font {
  font-family: 'Poppins', sans-serif;
}

.nav-heading {
  font-size: 22px;
}

.nav-menu-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 29px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.heading-2 {
  font-size: 31px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
  width: 100%;
}

.range-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  column-gap: 10px;
}

/* Range slider for password length */
.range-slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  left: 41%;
  top: 50%;
  width: 248px;
  margin-top: 15px;
  transform: translate(-50%, -50%);
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: #07beb8;
  height: 6px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #07beb8;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  max-width: 80px;
  position: relative;
  bottom: 15px;
  background-color: #07beb8;
  cursor: -webkit-grab;
  -webkit-transition: border 1000ms ease;
  transition: border 1000ms ease;
}

.range.blue::-webkit-slider-thumb {
  border-color: #07beb8;
}

.range.ltpurple::-webkit-slider-thumb {
  border-color: #07beb8;
}

.range.purple::-webkit-slider-thumb {
  border-color: #07beb8;
}

.range.pink::-webkit-slider-thumb {
  border-color: #07beb8
}

input[type=range]::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
}

.password-length-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 51px;
}

.password-length-input-container input {
  width: 161px;
  max-width: 178px;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.password-length-input-container .enter-icon {
  position: relative;
  top: 7px;
  left: -54px;
  font-size: 35px;
}

.characters-symbols-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.characters-symbols-container > div {
  display: flex;
  align-items: center;
  column-gap: 5px;
  width: 100px;
  margin-left: 90px;
  margin-right: auto;
}

.form-check-input:checked {
  background-color: #07beb8;
  border-color: #07beb8;
}

.characters-symbols-container label {
  font-size: 23.3px;
}

.characters-symbols-container i {
  font-size: 29px;
}

.slide-1 {
  background-image: url("./images/1.png");
}

.slide-2 {
  background-image: url("./images/2.png");
}

.slide-3 {
  background-image: url("./images/3.png");
}

.slide-4 {
  background-image: url("./images/4.png");
}

.slide-5 {
  background-image: url("./images/5.png");
}

.slide-6 {
  background-image: url("./images/6.png");
}

.slide-7 {
  background-image: url("./images/7.png");
}

.slide-8 {
  background-image: url("./images/8.png");
}

.carousel-item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 78px 20px 10px 20px;
}

.carousel-indicators [data-bs-target] {
  background-color: darkslategrey;
}

.carousel-control-prev-icon {
  background-image: url("./images/prev-arrow-icon.png");
}

.carousel-control-next-icon {
  background-image: url("./images/next-arrow-icon.png");
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

.carousel-control-next, 
.carousel-control-prev {
  position: absolute;
  top: -29px;
  bottom: 0;
}

.create-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-btn {
  font-size: 20px;
  border-radius: 10px;
}

.password-input-field-container {
  display: flex;
  justify-content: center;
}

/* Password Input Field */
#form-control {
  padding: 25px;
  font-size: 22px;
}

.input-field-icons-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 27px;
  left: -80px;
}

/* The buttons/icons in the password input field */
.copy-btn,
.loop-btn {
  color: grey;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 20px;
  box-shadow: 5px -3px 14px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
}

/* Extra small devices */
@media only screen and (max-width: 280px){
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-item-1 {
    display: flex;
    align-items: center;
    column-gap: 3px;
  }

  .nav-logo {
    background-image: url("./images/access-logo-3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #hamburger {
    display: block;
    margin-top: 1px;
    margin-right: -10px;
  }

  #hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  #hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    position: fixed;
    top: 62.5px;
    left: 220px;
    z-index: 10;
    background-color: white;
  }

  #hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    position: fixed;
    top: 79px;
    left: 220px;
    z-index: 10;
    background-color: white;
  }

  .nav-menu-mobile {
    position: fixed;
    right: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    mix-blend-mode: multiply;
    backdrop-filter: blur(9px);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 3;
    padding-top: 154px;
  }

  .nav-menu-mobile.active {
    right: 0;
  }

  .nav-menu-mobile .nav-item-mobile {
    position: relative;
    top: 32px;
    left: 40px;
    margin: 16px 0;
  }

  .nav .nav-item-mobile .nav-link-mobile {
    color: #1a2236;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links li a {
    font-size: 12px;
  }

  /* Main container */
  .hero-text {
    padding-top: 60px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #make-a-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    width: 85%;
    margin-top: 30px;
    margin-left: 20px;
    padding: 20px 17px;
  }

  .heading-2 {
    font-size: 18px;
  }

  #form-control {
    font-size: 13px;
  }
}

/* Small devices */
@media only screen and (max-width: 360px){
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-item-1 {
    display: flex;
    align-items: center;
    column-gap: 3px;
  }

  .nav-logo {
    background-image: url("./images/access-logo-3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 11px;
    margin-bottom: 15px;
  }

  #hamburger {
    display: block;
    margin-top: -11px;
    margin-right: -10px;
  }

  #hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  #hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    position: fixed;
    top: 62.5px;
    left: 265px;
    z-index: 10;
    background-color: white;
  }

  #hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    position: fixed;
    top: 79px;
    left: 265px;
    z-index: 10;
    background-color: white;
  }

  .nav-menu-mobile {
    position: fixed;
    right: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    mix-blend-mode: multiply;
    backdrop-filter: blur(9px);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 3;
    padding-top: 154px;
  }

  .nav-menu-mobile.active {
    right: 0;
  }

  .nav-menu-mobile .nav-item-mobile {
    position: relative;
    top: 32px;
    left: 40px;
    margin: 16px 0;
  }

  .nav .nav-item-mobile .nav-link-mobile {
    color: #1a2236;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links li a {
    font-size: 12px;
  }

  /* Main container */
  .hero-text {
    padding-top: 60px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #make-a-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    width: 85%;
    margin-top: 30px;
    margin-left: 15px;
    padding: 20px 17px;
  }

  .range-container > button {
    border: 1px solid grey;
    border-radius: 10px;
    background-color: white;
    color: grey;
    padding: 4px 10px;
  }
}

/* Small devices */
@media only screen and (max-width: 375px){
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-item-1 {
    display: flex;
    align-items: center;
    column-gap: 3px;
  }

  .nav-logo {
    background-image: url("./images/access-logo-3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 11px;
    margin-bottom: 15px;
  }

  #hamburger {
    display: block;
    margin-top: -11px;
    margin-right: -10px;
  }

  #hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  #hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    position: fixed;
    top: 62.5px;
    left: 265px;
    z-index: 10;
    background-color: white;
  }

  #hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    position: fixed;
    top: 79px;
    left: 265px;
    z-index: 10;
    background-color: white;
  }

  .nav-menu-mobile {
    position: fixed;
    right: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    mix-blend-mode: multiply;
    backdrop-filter: blur(9px);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 3;
    padding-top: 154px;
  }

  .nav-menu-mobile.active {
    right: 0;
  }

  .nav-menu-mobile .nav-item-mobile {
    position: relative;
    top: 32px;
    left: 40px;
    margin: 16px 0;
  }

  .nav .nav-item-mobile .nav-link-mobile {
    color: #1a2236;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links li a {
    font-size: 12px;
  }

  /* Main container */
  .hero-text {
    padding-top: 60px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #make-a-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    width: 85%;
    margin-top: 30px;
    margin-left: 20px;
    padding: 20px 17px;
  }
}

/* Small devices */
@media only screen and (max-width: 390px){
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-item-1 {
    display: flex;
    align-items: center;
    column-gap: 3px;
  }

  .nav-logo {
    background-image: url("./images/access-logo-3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 11px;
    margin-bottom: 15px;
  }

  #hamburger {
    display: block;
    margin-top: -11px;
    margin-right: -10px;
  }

  #hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  #hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    position: fixed;
    top: 62.5px;
    left: 265px;
    z-index: 10;
    background-color: white;
  }

  #hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    position: fixed;
    top: 79px;
    left: 265px;
    z-index: 10;
    background-color: white;
  }

  .nav-menu-mobile {
    position: fixed;
    right: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    mix-blend-mode: multiply;
    backdrop-filter: blur(9px);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 3;
    padding-top: 154px;
  }

  .nav-menu-mobile.active {
    right: 0;
  }

  .nav-menu-mobile .nav-item-mobile {
    position: relative;
    top: 32px;
    left: 40px;
    margin: 16px 0;
  }

  .nav .nav-item-mobile .nav-link-mobile {
    color: #1a2236;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links li a {
    font-size: 12px;
  }

  /* Main container */
  .hero-text {
    padding-top: 60px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #make-a-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    width: 85%;
    margin-top: 30px;
    margin-left: 20px;
    padding: 20px 17px;
  }
}

/* Small devices */
@media only screen and (max-width: 414px){
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-item-1 {
    display: flex;
    align-items: center;
    column-gap: 3px;
  }

  .nav-logo {
    background-image: url("./images/access-logo-3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 11px;
    margin-bottom: 15px;
  }

  #hamburger {
    display: block;
    margin-top: -11px;
    margin-right: -10px;
  }

  #hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  #hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    position: fixed;
    top: 62.5px;
    left: 311px;
    z-index: 10;
    background-color: white;
  }

  #hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    position: fixed;
    top: 79px;
    left: 311px;
    z-index: 10;
    background-color: white;
  }

  .nav-menu-mobile {
    position: fixed;
    right: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    mix-blend-mode: multiply;
    backdrop-filter: blur(9px);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 3;
    padding-top: 154px;
  }

  .nav-menu-mobile.active {
    right: 0;
  }

  .nav-menu-mobile .nav-item-mobile {
    position: relative;
    top: 32px;
    left: 40px;
    margin: 16px 0;
  }

  .nav .nav-item-mobile .nav-link-mobile {
    color: #1a2236;
    text-decoration: none;
    font-size: 41px;
    font-weight: 500;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links li a {
    font-size: 12px;
  }

  /* Main container */
  .hero-text {
    padding-top: 60px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #make-a-password-container {
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    width: 85%;
    margin-top: 30px;
    margin-left: 20px;
    padding: 20px 17px;
  }
}

/* Small devices */
@media only screen and (max-width: 540px){
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-item-1 {
    display: flex;
    align-items: center;
    column-gap: 3px;
  }

  .nav-logo {
    background-image: url("./images/access-logo-3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 11px;
    margin-bottom: 15px;
  }

  #hamburger {
    display: block;
    margin-top: -11px;
    margin-right: -10px;
  }

  #hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  #hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    position: fixed;
    top: 62.5px;
    left: 414px;
    z-index: 10;
    background-color: white;
  }

  #hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    position: fixed;
    top: 79px;
    left: 414px;
    z-index: 10;
    background-color: white;
  }

  .nav-menu-mobile {
    position: fixed;
    right: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    mix-blend-mode: multiply;
    backdrop-filter: blur(9px);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 3;
    padding-top: 154px;
  }

  .nav-menu-mobile.active {
    right: 0;
  }

  .nav-menu-mobile .nav-item-mobile {
    position: relative;
    top: 32px;
    left: 40px;
    margin: 16px 0;
  }

  .nav .nav-item-mobile .nav-link-mobile {
    color: #1a2236;
    text-decoration: none;
    font-size: 41px;
    font-weight: 500;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links li a {
    font-size: 12px;
  }

  /* Main container */
  .hero-text {
    padding-top: 60px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #make-a-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    width: 85%;
    margin-top: 30px;
    margin-left: 20px;
    padding: 20px 17px;
  }
}

/* Medium devices */
@media only screen and (max-width: 768px){
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-item-1 {
    display: flex;
    align-items: center;
    column-gap: 3px;
  }

  .nav-logo {
    background-image: url("./images/access-logo-3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 11px;
    margin-bottom: 15px;
  }

  #hamburger {
    display: block;
    margin-top: 12px;
    margin-right: -10px;
  }

  #hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  #hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    position: fixed;
    top: 62.5px;
    left: 571px;
    z-index: 10;
    background-color: white;
  }

  #hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    position: fixed;
    top: 79px;
    left: 571px;
    z-index: 10;
    background-color: white;
  }

  .nav-menu-mobile {
    position: fixed;
    right: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    mix-blend-mode: multiply;
    backdrop-filter: blur(9px);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 3;
    padding-top: 154px;
  }

  .nav-menu-mobile.active {
    right: 0;
  }

  .nav-menu-mobile .nav-item-mobile {
    position: relative;
    top: 32px;
    left: 40px;
    margin: 16px 0;
  }

  .nav .nav-item-mobile .nav-link-mobile {
    color: #1a2236;
    text-decoration: none;
    font-size: 41px;
    font-weight: 500;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links li a {
    font-size: 12px;
  }

  /* Main container */
  .hero-text {
    padding-top: 60px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #make-a-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    width: 85%;
    margin-top: 30px;
    margin-left: 20px;
    padding: 20px 17px;
  }

  #form-control {
    font-size: 13px;
  }
}

/* Medium devices */
@media only screen and (max-width: 912px){
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-item-1 {
    display: flex;
    align-items: center;
    column-gap: 3px;
  }

  .nav-logo {
    background-image: url("./images/access-logo-3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 11px;
    margin-bottom: 15px;
  }

  .hamburger {
    display: block;
    margin-top: 12px;
    margin-right: -10px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    position: fixed;
    top: 62.5px;
    left: 571px;
    z-index: 10;
    background-color: white;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    position: fixed;
    top: 79px;
    left: 571px;
    z-index: 10;
    background-color: white;
  }

  .nav-menu-mobile {
    position: fixed;
    right: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    mix-blend-mode: multiply;
    backdrop-filter: blur(9px);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 3;
    padding-top: 154px;
  }

  .nav-menu-mobile.active {
    right: 0;
  }

  .nav-menu-mobile .nav-item-mobile {
    position: relative;
    top: 32px;
    left: 40px;
    margin: 16px 0;
  }

  .nav .nav-item-mobile .nav-link-mobile {
    color: #1a2236;
    text-decoration: none;
    font-size: 41px;
    font-weight: 500;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links li a {
    font-size: 12px;
  }

  /* Main container */
  .hero-text {
    padding-top: 60px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #make-a-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    width: 93%;
    margin-top: 30px;
    margin-left: 20px;
    padding: 20px 17px;
  }

  #form-control {
    font-size: 17px;
  }
}

/* Large devices */
@media only screen and (max-width: 1024px){
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
  }

  .nav-item-1 {
    display: flex;
    align-items: center;
    column-gap: 3px;
  }

  .nav-logo {
    background-image: url("./images/access-logo-3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 11px;
    margin-bottom: 15px;
  }

  .nav-menu-desktop li a {
    font-size: 20px;
  }

  /* Main container */
  .hero-text {
    padding-top: 100px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .make-a-password-container {
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    width: 93%;
    margin-top: 30px;
    margin-left: 20px;
    padding: 32px 74px;
  }
}

/* Large devices */
@media only screen and (max-width: 1280px){
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
  }

  .nav-item-1 {
    display: flex;
    align-items: center;
    column-gap: 3px;
  }

  .nav-logo {
    background-image: url("./images/access-logo-3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 11px;
    margin-bottom: 15px;
  }

  .nav-menu-desktop li a {
    font-size: 20px;
  }

  /* Main container */
  .hero-text {
    padding-top: 100px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .make-a-password-container {
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    width: 93%;
    margin-top: 30px;
    margin-left: 20px;
    padding: 32px 74px;
  }
}

/* Large devices */
@media only screen and (max-width: 1500px){
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
  }

  .nav-item-1 {
    display: flex;
    align-items: center;
    column-gap: 3px;
  }

  .nav-logo {
    background-image: url("./images/access-logo-3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 11px;
    margin-bottom: 15px;
  }

  .nav-menu-desktop li a {
    font-size: 20px;
  }

  /* Main container */
  .hero-text {
    padding-top: 100px;
    font-size: 60px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .make-a-password-container {
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    width: 93%;
    margin-top: 30px;
    margin-left: 20px;
    padding: 32px 74px;
  }
}

/* Large devices */
@media only screen and (min-width: 1501px){
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
  }

  .nav-item-1 {
    display: flex;
    align-items: center;
    column-gap: 3px;
  }

  .nav-logo {
    background-image: url("./images/access-logo-3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 11px;
    margin-bottom: 15px;
  }

  .nav-menu-desktop li a {
    font-size: 20px;
  }

  /* Main container */
  .hero-text {
    padding-top: 100px;
    font-size: 65px;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .make-a-password-container {
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    width: 93%;
    margin-top: 30px;
    margin-left: 20px;
    padding: 32px 74px;
  }
}
