@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;  /* for Google Chrome and Apple Safari */
  -moz-box-sizing: border-box;    /* for Mozilla Firefox */
  -ms-box-sizing: border-box;   /* for Microsoft's Internet Explorer */
  box-sizing: border-box;       /* box-sizing is a property allows us to change exactly how the box-model works  */
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', Helvetica, sans-serif;
  background: white;

  /*  position: relative; */
  min-height: 100vh;  /* vh (viewport height as unit of measure)) */
  margin: 0;
}

.bg-purple {
  background-color: rgb(176, 102, 176);
}

.text-purple {
  color: rgb(176, 102, 176);
}

.nav-menu-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 29px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* Extra small devices */
@media only screen and (max-width: 280px){
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-item-1 {
    display: flex;
    align-items: center;
    column-gap: 3px;
  }

  .nav-heading {
    font-family: 'DM Serif Display', serif;
    font-size: 18px;
  }

  .nav-logo {
    background-image: url("./images/access-logo-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .hamburger {
    display: block;
    margin-top: 1px;
    margin-right: -10px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    position: fixed;
    top: 62.5px;
    left: 220px;
    z-index: 10;
    background-color: white;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    position: fixed;
    top: 79px;
    left: 220px;
    z-index: 10;
    background-color: white;
  }

  .nav-menu-mobile {
    position: fixed;
    right: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: rgba(151, 13, 225, 0.6);
    mix-blend-mode: multiply;
    backdrop-filter: blur(9px);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
    padding-top: 154px;
  }

  .nav-menu-mobile.active {
    right: 0;
  }

  .nav-menu-mobile .nav-item-mobile {
    position: relative;
    top: 32px;
    left: 40px;
    margin: 16px 0;
  }

  .nav .nav-item-mobile .nav-link-mobile {
    color: #1a2236;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links li a {
    font-size: 12px;
  }

  /* Main container */
  .hero-text {
    font-family: 'DM Serif Display', serif;
    padding-top: 60px;
  }
}

/* Small devices */
@media only screen and (max-width: 360px){
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-item-1 {
    display: flex;
    align-items: center;
    column-gap: 3px;
  }

  .nav-heading {
    font-family: 'DM Serif Display', serif;
    font-size: 22px;
  }

  .nav-logo {
    background-image: url("./images/access-logo-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 11px;
    margin-bottom: 15px;
  }

  .hamburger {
    display: block;
    margin-top: -11px;
    margin-right: -10px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    position: fixed;
    top: 62.5px;
    left: 265px;
    z-index: 10;
    background-color: white;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    position: fixed;
    top: 79px;
    left: 265px;
    z-index: 10;
    background-color: white;
  }

  .nav-menu-mobile {
    position: fixed;
    right: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: rgba(151, 13, 225, 0.6);
    mix-blend-mode: multiply;
    backdrop-filter: blur(9px);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
    padding-top: 154px;
  }

  .nav-menu-mobile.active {
    right: 0;
  }

  .nav-menu-mobile .nav-item-mobile {
    position: relative;
    top: 32px;
    left: 40px;
    margin: 16px 0;
  }

  .nav .nav-item-mobile .nav-link-mobile {
    color: #1a2236;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links li a {
    font-size: 12px;
  }

  /* Main container */
  .hero-text {
    font-family: 'DM Serif Display', serif;
    padding-top: 60px;
  }
}

/* Small devices */
@media only screen and (max-width: 375px){
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-item-1 {
    display: flex;
    align-items: center;
    column-gap: 3px;
  }

  .nav-heading {
    font-family: 'DM Serif Display', serif;
    font-size: 22px;
  }

  .nav-logo {
    background-image: url("./images/access-logo-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 11px;
    margin-bottom: 15px;
  }

  .hamburger {
    display: block;
    margin-top: -11px;
    margin-right: -10px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    position: fixed;
    top: 62.5px;
    left: 265px;
    z-index: 10;
    background-color: white;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    position: fixed;
    top: 79px;
    left: 265px;
    z-index: 10;
    background-color: white;
  }

  .nav-menu-mobile {
    position: fixed;
    right: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: rgba(151, 13, 225, 0.6);
    mix-blend-mode: multiply;
    backdrop-filter: blur(9px);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
    padding-top: 154px;
  }

  .nav-menu-mobile.active {
    right: 0;
  }

  .nav-menu-mobile .nav-item-mobile {
    position: relative;
    top: 32px;
    left: 40px;
    margin: 16px 0;
  }

  .nav .nav-item-mobile .nav-link-mobile {
    color: #1a2236;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links li a {
    font-size: 12px;
  }

  /* Main container */
  .hero-text {
    font-family: 'DM Serif Display', serif;
    padding-top: 60px;
  }
}

/* Small devices */
@media only screen and (max-width: 390px){
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-item-1 {
    display: flex;
    align-items: center;
    column-gap: 3px;
  }

  .nav-heading {
    font-family: 'DM Serif Display', serif;
    font-size: 22px;
  }

  .nav-logo {
    background-image: url("./images/access-logo-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 11px;
    margin-bottom: 15px;
  }

  .hamburger {
    display: block;
    margin-top: -11px;
    margin-right: -10px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    position: fixed;
    top: 62.5px;
    left: 265px;
    z-index: 10;
    background-color: white;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    position: fixed;
    top: 79px;
    left: 265px;
    z-index: 10;
    background-color: white;
  }

  .nav-menu-mobile {
    position: fixed;
    right: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: rgba(151, 13, 225, 0.6);
    mix-blend-mode: multiply;
    backdrop-filter: blur(9px);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
    padding-top: 154px;
  }

  .nav-menu-mobile.active {
    right: 0;
  }

  .nav-menu-mobile .nav-item-mobile {
    position: relative;
    top: 32px;
    left: 40px;
    margin: 16px 0;
  }

  .nav .nav-item-mobile .nav-link-mobile {
    color: #1a2236;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links li a {
    font-size: 12px;
  }

  /* Main container */
  .hero-text {
    font-family: 'DM Serif Display', serif;
    padding-top: 60px;
  }
}

/* Small devices */
@media only screen and (max-width: 414px){
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-item-1 {
    display: flex;
    align-items: center;
    column-gap: 3px;
  }

  .nav-heading {
    font-family: 'DM Serif Display', serif;
    font-size: 22px;
  }

  .nav-logo {
    background-image: url("./images/access-logo-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 11px;
    margin-bottom: 15px;
  }

  .hamburger {
    display: block;
    margin-top: -11px;
    margin-right: -10px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    position: fixed;
    top: 62.5px;
    left: 311px;
    z-index: 10;
    background-color: white;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    position: fixed;
    top: 79px;
    left: 311px;
    z-index: 10;
    background-color: white;
  }

  .nav-menu-mobile {
    position: fixed;
    right: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: rgba(151, 13, 225, 0.6);
    mix-blend-mode: multiply;
    backdrop-filter: blur(9px);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
    padding-top: 154px;
  }

  .nav-menu-mobile.active {
    right: 0;
  }

  .nav-menu-mobile .nav-item-mobile {
    position: relative;
    top: 32px;
    left: 40px;
    margin: 16px 0;
  }

  .nav .nav-item-mobile .nav-link-mobile {
    color: #1a2236;
    text-decoration: none;
    font-size: 41px;
    font-weight: 500;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links li a {
    font-size: 12px;
  }

  /* Main container */
  .hero-text {
    font-family: 'DM Serif Display', serif;
    padding-top: 60px;
  }
}

/* Small devices */
@media only screen and (max-width: 540px){
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-item-1 {
    display: flex;
    align-items: center;
    column-gap: 3px;
  }

  .nav-heading {
    font-family: 'DM Serif Display', serif;
    font-size: 22px;
  }

  .nav-logo {
    background-image: url("./images/access-logo-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 11px;
    margin-bottom: 15px;
  }

  .hamburger {
    display: block;
    margin-top: -11px;
    margin-right: -10px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    position: fixed;
    top: 62.5px;
    left: 414px;
    z-index: 10;
    background-color: white;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    position: fixed;
    top: 79px;
    left: 414px;
    z-index: 10;
    background-color: white;
  }

  .nav-menu-mobile {
    position: fixed;
    right: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: rgba(151, 13, 225, 0.6);
    mix-blend-mode: multiply;
    backdrop-filter: blur(9px);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
    padding-top: 154px;
  }

  .nav-menu-mobile.active {
    right: 0;
  }

  .nav-menu-mobile .nav-item-mobile {
    position: relative;
    top: 32px;
    left: 40px;
    margin: 16px 0;
  }

  .nav .nav-item-mobile .nav-link-mobile {
    color: #1a2236;
    text-decoration: none;
    font-size: 41px;
    font-weight: 500;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links li a {
    font-size: 12px;
  }

  /* Main container */
  .hero-text {
    font-family: 'DM Serif Display', serif;
    padding-top: 60px;
  }
}

/* Medium devices */
@media only screen and (max-width: 768px){
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-item-1 {
    display: flex;
    align-items: center;
    column-gap: 3px;
  }

  .nav-heading {
    font-family: 'DM Serif Display', serif;
    font-size: 22px;
  }

  .nav-logo {
    background-image: url("./images/access-logo-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 11px;
    margin-bottom: 15px;
  }

  .hamburger {
    display: block;
    margin-top: 12px;
    margin-right: -10px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    position: fixed;
    top: 62.5px;
    left: 571px;
    z-index: 10;
    background-color: white;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    position: fixed;
    top: 79px;
    left: 571px;
    z-index: 10;
    background-color: white;
  }

  .nav-menu-mobile {
    position: fixed;
    right: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: rgba(151, 13, 225, 0.6);
    mix-blend-mode: multiply;
    backdrop-filter: blur(9px);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
    padding-top: 154px;
  }

  .nav-menu-mobile.active {
    right: 0;
  }

  .nav-menu-mobile .nav-item-mobile {
    position: relative;
    top: 32px;
    left: 40px;
    margin: 16px 0;
  }

  .nav .nav-item-mobile .nav-link-mobile {
    color: #1a2236;
    text-decoration: none;
    font-size: 41px;
    font-weight: 500;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links li a {
    font-size: 12px;
  }

  /* Main container */
  .hero-text {
    font-family: 'DM Serif Display', serif;
    padding-top: 60px;
  }
}

/* Medium devices */
@media only screen and (max-width: 912px){
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-item-1 {
    display: flex;
    align-items: center;
    column-gap: 3px;
  }

  .nav-heading {
    font-family: 'DM Serif Display', serif;
    font-size: 22px;
  }

  .nav-logo {
    background-image: url("./images/access-logo-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 11px;
    margin-bottom: 15px;
  }

  .hamburger {
    display: block;
    margin-top: 12px;
    margin-right: -10px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    position: fixed;
    top: 62.5px;
    left: 571px;
    z-index: 10;
    background-color: white;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    position: fixed;
    top: 79px;
    left: 571px;
    z-index: 10;
    background-color: white;
  }

  .nav-menu-mobile {
    position: fixed;
    right: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: rgba(151, 13, 225, 0.6);
    mix-blend-mode: multiply;
    backdrop-filter: blur(9px);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 1;
    padding-top: 154px;
  }

  .nav-menu-mobile.active {
    right: 0;
  }

  .nav-menu-mobile .nav-item-mobile {
    position: relative;
    top: 32px;
    left: 40px;
    margin: 16px 0;
  }

  .nav .nav-item-mobile .nav-link-mobile {
    color: #1a2236;
    text-decoration: none;
    font-size: 41px;
    font-weight: 500;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links li a {
    font-size: 12px;
  }

  /* Main container */
  .hero-text {
    font-family: 'DM Serif Display', serif;
    padding-top: 60px;
  }
}

/* Large devices */
@media only screen and (max-width: 1024px){
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
  }

  .nav-item-1 {
    display: flex;
    align-items: center;
    column-gap: 3px;
  }

  .nav-heading {
    font-family: 'DM Serif Display', serif;
    font-size: 22px;
  }

  .nav-logo {
    background-image: url("./images/access-logo-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 11px;
    margin-bottom: 15px;
  }

  .nav-menu-desktop li a {
    font-size: 20px;
  }

  /* Main container */
  .hero-text {
    font-family: 'DM Serif Display', serif;
    padding-top: 100px;
  }
}

/* Large devices */
@media only screen and (max-width: 1280px){
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
  }

  .nav-item-1 {
    display: flex;
    align-items: center;
    column-gap: 3px;
  }

  .nav-heading {
    font-family: 'DM Serif Display', serif;
    font-size: 22px;
  }

  .nav-logo {
    background-image: url("./images/access-logo-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 11px;
    margin-bottom: 15px;
  }

  .nav-menu-desktop li a {
    font-size: 20px;
  }

  /* Main container */
  .hero-text {
    font-family: 'DM Serif Display', serif;
    padding-top: 100px;
  }
}

/* Large devices */
@media only screen and (max-width: 1500px){
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
  }

  .nav-item-1 {
    display: flex;
    align-items: center;
    column-gap: 3px;
  }

  .nav-heading {
    font-family: 'DM Serif Display', serif;
    font-size: 22px;
  }

  .nav-logo {
    background-image: url("./images/access-logo-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 11px;
    margin-bottom: 15px;
  }

  .nav-menu-desktop li a {
    font-size: 20px;
  }

  /* Main container */
  .hero-text {
    font-family: 'DM Serif Display', serif;
    padding-top: 100px;
  }
}

/* Large devices */
@media only screen and (min-width: 1501px){
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
  }

  .nav-item-1 {
    display: flex;
    align-items: center;
    column-gap: 3px;
  }

  .nav-heading {
    font-family: 'DM Serif Display', serif;
    font-size: 22px;
  }

  .nav-logo {
    background-image: url("./images/access-logo-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 11px;
    margin-bottom: 15px;
  }

  .nav-menu-desktop li a {
    font-size: 20px;
  }

  /* Main container */
  .hero-text {
    font-family: 'DM Serif Display', serif;
    padding-top: 100px;
  }
}
