@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;  /* for Google Chrome and Apple Safari */
  -moz-box-sizing: border-box;    /* for Mozilla Firefox */
  -ms-box-sizing: border-box;   /* for Microsoft's Internet Explorer */
  box-sizing: border-box;       /* box-sizing is a property allows us to change exactly how the box-model works  */
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', Helvetica, sans-serif;
  background: white;

  /*  position: relative; */
  min-height: 100vh;  /* vh (viewport height as unit of measure)) */
  margin: 0;
}

.nav-logo {
  background: white;
  background-image: url("./images/access-logo-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 15px;
}

.text-purple {
  color: purple;
  font-family: 'Roboto', sans-serif;
}

/* Extra small devices (phones, 575px and down) */
@media only screen and (max-width: 575px) {
  .header {
    width: 100%;
  }

  .nav {
    display: flex;
    justify-content: space-evenly;
  }

  .nav-item-1:first-child {
    display: flex;
    align-items: baseline;
    margin-top: 10px;
  }

  .nav-heading {
    font-family: 'DM Serif Display', serif;
    font-size: 22px;
  }

  .nav-logo {
    padding: 11px;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links li a {
    font-size: 15px;
  }

  .main-container {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100%;
  }

  h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 26px;
  }

  .slogan {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
  }

  .heading-3 {
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .make-a-password-container {
    width: 85%;
    padding-left: 17px;
    padding-right: 17px;
  }

  .password-length-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .password-length-container label {
    font-size: 16px;
  }

  .password-slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
  }

  /* Password slider */
  .range {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    left: 50%;
    top: 50%;
    width: 200px;
    margin-top: 10px;
    transform: translate(-50%, -50%);
  }

  input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: rgba(59, 173, 227, 1);
    background: -moz-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    height: 2px;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-moz-range-track {
    -moz-appearance: none;
    background: rgba(59, 173, 227, 1);
    background: -moz-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    height: 2px;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    max-width: 80px;
    position: relative;
    bottom: 11px;
    background-color: #1d1c25;
    cursor: -webkit-grab;
    -webkit-transition: border 1000ms ease;
    transition: border 1000ms ease;
  }

  input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    border: 2px solid;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    max-width: 80px;
    position: relative;
    bottom: 11px;
    background-color: #1d1c25;
    cursor: -moz-grab;
    -moz-transition: border 1000ms ease;
    transition: border 1000ms ease;
  }

  .range.blue::-webkit-slider-thumb {
    border-color: rgb(59, 173, 227);
  }

  .range.ltpurple::-webkit-slider-thumb {
    border-color: rgb(87, 111, 230);
  }

  .range.purple::-webkit-slider-thumb {
    border-color: rgb(152, 68, 183);
  }

  .range.pink::-webkit-slider-thumb {
    border-color: rgb(255, 53, 127);
  }

  .range.blue::-moz-range-thumb {
    border-color: rgb(59, 173, 227);
  }

  .range.ltpurple::-moz-range-thumb {
    border-color: rgb(87, 111, 230);
  }

  .range.purple::-moz-range-thumb {
    border-color: rgb(152, 68, 183);
  }

  .range.pink::-moz-range-thumb {
    border-color: rgb(255, 53, 127);
  }

  input[type=range]::-webkit-slider-thumb:active {
    cursor: -webkit-grabbing;
  }

  input[type=range]::-moz-range-thumb:active {
    cursor: -moz-grabbing;
  }

  label {
    font-family: 'Roboto', sans-serif;
  }

  #passwordLength {
    margin-left: 70px;
    font-size: 16px;
  }

  .password-slider-container i {
    margin-bottom: 16px;
  }

  .characters-symbols-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .characters-symbols-container > div {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }

  .characters-symbols-container label {
    font-size: 12.3px;
  }

  .characters-symbols-container i {
    font-size: 17px;
  }

  .generate-btn {
    background: rgba(59, 173, 227, 1);
    background: linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    font-size: 15px;
  }

  .input-field-container {
    width: 80%;
  }

  .form-control {
    padding: 17px 0.75rem;
    font-size: 15px;
    font-weight: 700;
  }

  .form-container-2 {
    position: relative;
    top: -44px;
    left: 250px;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    background: rgba(59, 173, 227, 1);
    background: linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    box-shadow: 5px -3px 14px 0 rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  footer .text-1,
  footer .text-2,
  footer ul li a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }

  footer ul {
    display: flex;
    margin-left: 30px;
  }
}

/* Devices equal to & above 576px */
@media only screen and (min-width: 576px) {
  .nav-heading {
    font-family: 'DM Serif Display', serif;
    font-size: 27px;
  }

  .main-container {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  h1 {
    font-family: 'DM Serif Display', serif;
  }

  .slogan {
    font-family: 'Roboto', sans-serif;
  }

  .make-a-password-container {
    padding-left: 70px;
    padding-right: 70px;
  }

  .heading-3 {
    font-family: 'DM Serif Display', serif;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    font-weight: 600;
  }

  /* Password slider */
  .range {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    left: 46%;
    top: 43%;
    width: 139px;
    margin-top: 10px;
    transform: translate(-50%, -50%);
  }

  input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: rgba(59, 173, 227, 1);
    background: -moz-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    height: 2px;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-moz-range-track {
    -moz-appearance: none;
    background: rgba(59, 173, 227, 1);
    background: -moz-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    background: linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    height: 2px;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    max-width: 80px;
    position: relative;
    bottom: 11px;
    background-color: #1d1c25;
    cursor: -webkit-grab;
    -webkit-transition: border 1000ms ease;
    transition: border 1000ms ease;
  }

  input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    border: 2px solid;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    max-width: 80px;
    position: relative;
    bottom: 11px;
    background-color: #1d1c25;
    cursor: -moz-grab;
    -moz-transition: border 1000ms ease;
    transition: border 1000ms ease;
  }

  .range.blue::-webkit-slider-thumb {
    border-color: rgb(59, 173, 227);
  }

  .range.ltpurple::-webkit-slider-thumb {
    border-color: rgb(87, 111, 230);
  }

  .range.purple::-webkit-slider-thumb {
    border-color: rgb(152, 68, 183);
  }

  .range.pink::-webkit-slider-thumb {
    border-color: rgb(255, 53, 127);
  }

  .range.blue::-moz-range-thumb {
    border-color: rgb(59, 173, 227);
  }

  .range.ltpurple::-moz-range-thumb {
    border-color: rgb(87, 111, 230);
  }

  .range.purple::-moz-range-thumb {
    border-color: rgb(152, 68, 183);
  }

  .range.pink::-moz-range-thumb {
    border-color: rgb(255, 53, 127);
  }

  input[type=range]::-webkit-slider-thumb:active {
    cursor: -webkit-grabbing;
  }

  input[type=range]::-moz-range-thumb:active {
    cursor: -moz-grabbing;
  }

  label {
    font-family: 'Roboto', sans-serif;
  }

  #passwordLength {
    margin-left: 40px;
  }

  .generate-btn {
    background: rgba(59, 173, 227, 1);
    background: linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
  }

  .form-control {
    width: 544px;
    padding: 21px 0.75rem;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    left: 31px;
  }

  .form-container-2 {
    position: relative;
    top: 25px;
    left: -74px;
    height: 100%;
  }

  footer {
    background: rgba(59, 173, 227, 1);
    background: linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
    box-shadow: 5px -3px 14px 0 rgba(0, 0, 0, 0.1);
  }

  footer p,
  footer ul li a {
    font-family: 'Roboto', sans-serif;
  }
}
